body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595266147/Hatshepsut/382913-PCI5F6-854_pkszsk.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  position: relative;
  width: 70%;
  margin: auto;
  top: 5%;
  text-align: center;
}

.intro-box {
  background-color: rgba(255,255,255, 0.6);
  width: 70%;
  margin: 3% auto;
  padding: 5%;
}

.intro-image {
  position: absolute;
  left: 3%;
  top: 5%;
  height: 30%;
  z-index: 4;
}

.hatshepsut-image {
  float: right;
  padding: 2%;
}

.progress-tracker {
  position: fixed;
  bottom: 0;
  z-index: 12;
  width: 35%;
  height: 6%;
  background-color: rgba(40, 183, 215, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
}

.progress-img {
  max-width: 8%;
  padding: 1%;
}

.cluelist-toggle {
  position: absolute;
  top: 1%;
  right: 1%;
  margin: 0%;
  z-index: 200;
  background-color: transparent;
}

.cluelist-toggle:hover {
  text-emphasis: none;
  background-color: transparent;
  border-style: none;
}

.cluelist-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  background-color: rgba(228, 186, 81, 0.8);
  display: block;
  align-items: center;
  text-align: center;
  z-index: 199;
}

.cluelist-ul {
  background-color: rgba(255,255,255, 0.5);
  max-width: 80%;
  height: 70%;
  margin: 5% auto;
  margin-top: 22%;
  padding: 2%;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.guess-culprit-btn {
  position: relative;
  padding: 3%;
  margin: 3%;
}

.go-home-btn {
  position: relative;
  padding: 3%;
  margin: 3%;
}

.next-room-btn {
  position: absolute;
  bottom: 1%;
  left: 44%;
  z-index: 3;
}

.body-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: azure; */
  /* border-style: dashed; */
}

.home-content {
  background-color: rgba(255,255,255, 0.3);
  max-width: 70%;
  margin: 5% auto;
  text-align: center;
  padding: 1%;
}

.room-index {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  max-width: 90%;
  height: 600px;
  background-color: rgba(255,255,255, 0.3);
  margin: auto;
  padding: 1%;
  margin-top: 3%;
  overflow-y: scroll;
}

.room-index-img {
  width: 30%;
  margin: 1%;
  box-shadow: 5px 5px rgba(255,255,255, 0.4);
  display: grid;
}

.room-index-img:hover {
  cursor: pointer;
  /* opacity: 0.9; */
}

.room-img-underlay {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.room-complete {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  background-color: rgba(0,0,0, 0.4);
  text-align: center;
}

.guess-culprit {
  position: relative;
  margin: auto;
}

.setting{
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  text-align: center;
}

div[class*="slidecontent"]{
  background-color: rgba(255,255,255, 0.7);
  overflow-y: scroll;
  height: 70%;
  width: 70%;
  margin: auto;
  text-align: left;
  padding: 2%;
  margin-top: 5%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

div[class*="slidecontent"]::-webkit-scrollbar {
  display: none;
}

.setting ul li{
  padding: 1%;
}

.slide1 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595434570/Setting/Screen_Shot_2020-07-22_at_12.15.58_PM_tfphse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.thequeen {
  float: left;
  width: 30%;
}

.slide2 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595434339/Setting/Screen_Shot_2020-07-14_at_4.05.30_PM_odp5t7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.slide2-content{
  text-align: left;
}

.slide2-div {
  display: flex;
  justify-content: stretch;
  /* width: 100%; */
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.set-char {
  width: 60%;
  height: 600px;
}

.set-char:hover .char-description{
  opacity: 0.9;
}

.char-description {
  opacity: 0;
  text-align: center;
  transition: transform .5s;
}

.set-char-img {
  transition: transform .5s ease;
}

.set-char-img:hover {
  transform: scale(1.25);
}

.slide3 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595435154/Setting/Screen_Shot_2020-07-22_at_12.25.14_PM_jsuujr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.indicates-scroll {
  position: absolute;
  bottom: 12%;
  height: 24px;
  width: 24px;
  padding: none;
  margin: none;
  left: 38.5%;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 4vw;
  color: rgb(228, 186, 81);
}

.slide3-slidecontent {
  overflow-y: auto;
}

.slide4 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595435160/Setting/Screen_Shot_2020-07-22_at_12.25.41_PM_bfmedp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}


.room-background {
  position: absolute;
  max-width: 100%;
}

.instructions-div {
  position: fixed;
  background-color: rgba(255,255,255, 0.7);
  width: 20vw;
  height: 10vh;
  bottom: 0%;
  padding: 2%;
  right: 0%;
  text-align: center;
  z-index: 4;
  border-radius: 10px;
}

.close-directions {
  position: relative;
  float: left;
  left: -8%;
  top: -40%;
  width: 10%;
}

.room-description{
  background-color: rgba(255,255,255, 0.3);
}

.firstroom-content{
  background-color: rgba(37, 195, 244, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  background-size: 100%;
  background-repeat: none;
  grid-template-rows: auto;
}

.item-div {
  max-width: 30%;
  padding: 1%;
  display: grid;
}

.item-div:hover .item-overlay {
  opacity: 0.9;
}
.item-image {
  max-width: 100%;
}

.item-overlay {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  align-items: center;
}

.item-underlay {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.go-back-btn {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.location-image {
  width: 25%;
  z-index: 2;
}

.char-zoom {
  position: absolute;
  width: 35%;
  left: -10%;
  z-index: 3;
}

.location-image[data-isOn="true"] {
  position: absolute;
  width: 35%;
  left: -10%;
  z-index: 3;
}

.location-image-zoom {
  position: absolute;
  max-width: 30%;
  left: -3%;
  bottom: 3%;
  z-index: 7;
}

.location-items {
  position: absolute;
  background-color: rgba(255,255,255, 0.4);
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  left: 10%;
  z-index: 6;
}

.current-location{
  position: absolute;
}

.close-items {
  position: relative;
  float: right;
  right: 8%;
  top: 0%;
  width: 4%;
  z-index: 10;
}

.room-content-div {
  display: flex;
}


.character-chat-content {
  background-color: rgba(255,255,255, 0.4);
  text-align: right;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 3%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1%;
  z-index: 5;
}
/* 
.character-chat-img {
  width: 50%;
  left: -5%;
  transition: transform .6s ease; */
/* } */

.character-div {
  display: flex;
}

.modal-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.4);
  z-index:4;
}

.tent {
  position: absolute;
  width: 25%;
}

.outside {
  position: absolute;
  width: 10%;
  right: 15%;
  bottom: 36%;
}

.dig {
  position: absolute;
  width: 25%;
  bottom: 15%;
  right: 30%;
}

.dream {
  position: absolute;
  width: 20%;
  bottom: 2%;
}

.PyramidRoom1 {
  position: absolute;
  width: 20%;
  bottom: 2%;
}

.PyramidRoom2 {
  position: absolute;
  width: 14%;
  bottom: 3%;
  left: 3%;
}

.PyramidRoom3 {
  position: absolute;
  width: 10%;
  bottom: 0%;
  right: 20%;
}

/* .TreasureRoom {

} */


.character-response {
  text-align: left;
}

.character-options-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.character-options-li {
  text-align: center;
  /* color: white; */
  background-color: rgb(213, 175, 132);
  max-width: 30%;
  margin: 1%;
  padding: 1%;
  box-shadow: 5px 5px rgba(156, 47, 51, 0.4);
}

.response {
  text-align: left;
  background-color: rgb(225, 137, 66);
  color: white;
  padding: 1%;
}

.option {
  text-align: right;
  background-color: rgb(165, 92, 59);
  color: white;
  padding: 1%;
}

button {
  background-color: rgb(228, 186, 81);
  border: none;
  padding: 1%;
  margin: 1%;
  /* box-shadow: 5px 5px rgba(228, 186, 81, 0.6); */
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgb(244, 243, 242);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(228, 186, 81);
  color: black;
  font-weight: bold;
  /* padding: 1%; */
  /* margin: 1%; */
}