body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595266147/Hatshepsut/382913-PCI5F6-854_pkszsk.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  position: relative;
  width: 70%;
  margin: auto;
  top: 5%;
  text-align: center;
}

.intro-box {
  background-color: rgba(255,255,255, 0.4);
  width: 70%;
  margin: 3% auto;
  text-align: center;
  padding: 2%;
}

.intro-image {
  position: absolute;
  left: 5%;
  height: 30%;
  z-index: 4;
}

.progress-tracker-div {
  position: fixed;
  bottom: 0;
  z-index: 12;
  width: 35%;
  height: 5%;
  background-color: rgba(40, 183, 215, 0.6);
  border-radius: 10%;
  text-align: center;
}

input#menu {
  display: none;
}

.icon {
  background: rgb(181, 111, 102);
  cursor: pointer;
  display: block;
  height: 20px;
  padding: 16px;
  width: 20px;
}

label.icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #9FB1BD;
    content: '';
    /* display: block; */
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: rgb(181, 111, 102);
}

.icon .menu {
    left: 18px;
    top: 27px;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

#menu:checked ~ .cluelist-container {
  height: 100%;
  right: 0;
  /* transition: width ease .6s; */
}


.cluelist-container {
  position: fixed;
  top: 0;
  right: -20%;
  transition: height ease 1s;
  width: 20%;
  height: 0%;
  background-color: rgba(181, 111, 102, 0.6);
  z-index: 10;
}

.cluelist-div {
  background-color: rgba(255,255,255, 0.3);
  max-width: 80%;
  height: 80%;
  margin: 5% auto;
  padding: 2%;
  text-align: center;
  align-items: center;
  list-style-type: none;
}

.guess-culprit-btn {
  position: relative;
  /* max-width: 30%; */
  margin: auto;
  padding: 3%;
  margin-left: 28%;
}

.go-home-btn {
  position: relative;
  /* max-width: 30%; */
  margin-top: 3%;
  padding: 3%;
  margin-left: 40%;
}

.body-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: azure; */
  /* border-style: dashed; */
}

.home-content {
  background-color: rgba(255,255,255, 0.3);
  max-width: 70%;
  margin: 5% auto;
  text-align: center;
  padding: 1%;
}

.setting-content{
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  text-align: center;
}

.slide1 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595434570/Setting/Screen_Shot_2020-07-22_at_12.15.58_PM_tfphse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.slide1-content {
  background-color: rgba(255,255,255, 0.8);
  height: 30%;
  width: 50%;
  margin: auto;
}

.slide2 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595434339/Setting/Screen_Shot_2020-07-14_at_4.05.30_PM_odp5t7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.slide2-content{
  text-align: left;
  padding: 3%;
}
.slide3 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595435154/Setting/Screen_Shot_2020-07-22_at_12.25.14_PM_jsuujr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.slide3-content{
  text-align: left;
  padding: 3%;
}
.slide4 {
  background-image: url("https://res.cloudinary.com/dqtw2xfuf/image/upload/v1595435160/Setting/Screen_Shot_2020-07-22_at_12.25.41_PM_bfmedp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 600px;
}

.slide4-content{
  text-align: left;
  padding: 3%;
}

.room-background {
  position: absolute;
  max-width: 100%;
}

.firstroom-instructions {
  position: fixed;
  background-color: rgba(255,255,255, 0.7);
  width: 35%;
  height: 10%;
  bottom: 6%;
  padding: 2%;
  left: 30%;
  text-align: center;
  z-index: 4;
}

.firstroom-content{
  background-color: rgba(37, 195, 244, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  background-size: 100%;
  background-repeat: none;
  grid-template-rows: auto;
}

.item-div {
  max-width: 30%;
  padding: 1%;
  display: grid;
}

.item-div:hover .item-overlay {
  opacity: 0.9;
}
.item-image {
  max-width: 100%;
}

.item-overlay {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  align-items: center;
}

.item-underlay {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.go-back-btn {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.location-image {
  max-width: 25%;
  z-index: 2;
}

.location-image-zoom {
  position: absolute;
  max-width: 30%;
  left: -3%;
  bottom: 3%;
  z-index: 2;
}

.location-items {
  background-color: rgba(255,255,255, 0.4);
  display: flex;
  /* text-align: center; */
  justify-content: space-evenly;
  max-width: 80%;
  /* height: 80%; */
  margin-top: 2%;
  margin-left: 10%;
}

.room-content-div {
  display: flex;
}


.character-chat-content {
  background-color: rgba(255,255,255, 0.4);
  text-align: right;
  width: 70%;
  height: 70%;
  margin: auto;
  overflow: auto;
  padding: 1%;
}

.character-chat-img {
  position: absolute;
  left: -8%;
  max-width: 30%;
}

.character-div {
  position: absolute;
  display: flex;
  width: 40%;
  top: 5%;
  z-index: 1;
}

.character-img {
  max-width: 50%;
}

.character-response {
  text-align: left;
}

.character-options-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.character-options-li {
  text-align: center;
  /* color: white; */
  background-color: rgb(213, 175, 132);
  max-width: 30%;
  margin: 1%;
  padding: 1%;
  box-shadow: 5px 5px rgba(156, 47, 51, 0.4);
}

.response {
  text-align: left;
  background-color: rgb(225, 137, 66);
  color: white;
  padding: 1%;
}

.option {
  text-align: right;
  background-color: rgb(165, 92, 59);
  color: white;
  padding: 1%;
}

button {
  background-color: rgb(228, 186, 81);
  border: none;
  padding: 1%;
  margin: 1%;
  /* box-shadow: 5px 5px rgba(228, 186, 81, 0.6); */
  transition-duration: 0.2s;
}

button:hover {
  background-color: rgba(228, 186, 81, 0.9);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(228, 186, 81);
  color: black;
  font-weight: bold;
  /* padding: 1%; */
  /* margin: 1%; */
}